*.hzs
/.settings
*.launch
/Debug/
/Release/
/STM32F103RE THUMB Debug/
/STM32F103RE THUMB Release/
/STM32F103C8 THUMB Debug/
/STM32F103C8 THUMB Release/
/STM32F103RB THUMB Debug/
/STM32F103RB THUMB Release/
